{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<h1>{% trans "Verify Your E-mail Address" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Sitenin bu kısmı şunu doğrulamamızı gerektiriyor
    sen olduğunu iddia ettiğin kişisin. Bu amaçla sizden talep ediyoruz
    e-posta adresinizin sahipliğini doğrulayın. {% endblocktrans %}</p>

<p>{% blocktrans %}için size bir e-posta gönderdik.
    doğrulama. Lütfen bu e-postanın içindeki bağlantıya tıklayın. Lütfen
    birkaç dakika içinde almazsanız bizimle iletişime geçin.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Not:</strong> hala yapabilirsin <a href="{{ email_url }}">E posta adresini değiştir</a>.{%
    endblocktrans %}</p>


{% endblock %}